# Facebook Page Access Token (obtainable from https://developers.facebook.com/tools/explorer)
FACEBOOK_ACCESS_TOKEN=your_facebook_page_access_token_here

# The ID of your Facebook Page
FACEBOOK_PAGE_ID=your_facebook_page_id_here
